<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library Issue Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid" style="background-color:#ffd54f;padding-bottom:10%;">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">DASHBOARD</a>
            </div>
            <a style="float:right" class="navbar-brand" href="/logout">Logout</a>
          </div>
        </nav>
      </div>
      <div class="row text-center">
        <h3><b><u>Due Issues List</u></b></h3>
      </div>
      <div class="row" style="margin-top:3%;margin-left:1%;margin-right:1%;margin-bottom:2%">
        <table id="due_issue_table" class="display" width="100%">
          <thead>
              <th>Book ID</th>
              <th>Book Name</th>
              <th>Issued By</th>
              <th>Phone No.</th>
              <th>Branch</th>
              <th>Regd.no.</th>
              <th>Issue Date</th>
              <th></th>
              <th></th>
          </thead>
          <tbody>
          <% for(var i=0;i<issuelist.length;i++){ %>
          <tr>
            <td><%= issuelist[i].book_id %></td>
            <td><%= issuelist[i].book_name %></td>
            <td><%= issuelist[i].issued_by %></td>
            <td><%= issuelist[i].phone %></td>
            <td><%= issuelist[i].branch %></td>
            <td><%= issuelist[i].regd_no %></td>
            <td><%= issuelist[i].issue_date %></td>
            <td><button id="add_btn" onclick="editme('<%=issuelist[i].book_id%>','<%=issuelist[i].book_name%>','<%=issuelist[i].issued_by%>','<%=issuelist[i].phone%>','<%=issuelist[i].branch%>','<%=issuelist[i].regd_no%>','<%=issuelist[i].issue_date%>','<%=issuelist[i]._id%>')" class="btn btn-info" data-toggle="modal" data-target="#editIssue">Edit</button></td>
            <td><button id="return_btn" onclick="returnme('<%=issuelist[i].issued_by%>','<%=issuelist[i]._id%>')" class="btn btn-success" data-toggle="modal" data-target="#returnIssue">Return</button></td>
          </tr>
          <% } %>
        </tbody>
        </table>
      </div>
      <div class="row text-center" style="margin-bottom:5%">
        <button id="add_btn" onclick="addme()" class="btn btn-primary" data-toggle="modal" data-target="#newIssue">New Issue</button>
      </div>

      <div class="row text-center">
        <h3><b><u>Returned Issues List</u></b></h3>
      </div>
      <div class="row" style="margin-top:3%;margin-left:1%;margin-right:1%">
        <table id="returned_issue_table" class="display" width="100%">
          <thead>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Issued By</th>
            <th>Phone No.</th>
            <th>Branch</th>
            <th>Regd.no.</th>
            <th>Issue Date</th>
            <th>Returned Date</th>
            <th></th>
          </thead>
          <tbody>
            <% for(var i=0;i<returnissues.length;i++){ %>
                <tr>
                  <td><%= returnissues[i].book_id %></td>
                  <td><%= returnissues[i].book_name %></td>
                  <td><%= returnissues[i].issued_by %></td>
                  <td><%= returnissues[i].phone %></td>
                  <td><%= returnissues[i].branch %></td>
                  <td><%= returnissues[i].regd_no %></td>
                  <td><%= returnissues[i].issue_date %></td>
                  <td><%= returnissues[i].return_date %></td>
                  <td><button id="delete_btn" onclick="delme('<%=returnissues[i]._id%>')" class="btn btn-danger" data-toggle="modal" data-target="#deleteIssue">Delete</button></td>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <!-- Add Issue Modal -->
      <div id="newIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>New Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/additem" method="post">
                <table width="100%">
                  <tr>
                    <td style="float:right">Book Name:</td>
                    <td><input type="text" name="book_name"></td>
                    <td style="float:right">Book ID:</td>
                    <td><input type="text" name="book_id"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issued By:</td>
                    <td><input type="text" name="issued_by"></td>
                    <td style="float:right">Phone no.:</td>
                    <td><input type="text" name="phone"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Branch:</td>
                    <td><input type="text" name="branch"></td>
                    <td style="float:right">Regd.no.:</td>
                    <td><input type="text" name="regd_no"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issue Date:</td>
                    <td><input type="date" id="issue_date" name="issue_date"></td>
                  </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Issue Modal -->
      <div id="editIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Edit Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/editbook" method="post">
                <table width="100%">
                  <tr>
                    <td style="float:right">Book Name:</td>
                    <td><input type="text" id="bookname" name="bookname"></td>
                    <td style="float:right">Book ID:</td>
                    <td><input type="text" id="bookid" name="bookid"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issued By:</td>
                    <td><input type="text" id="issuedby" name="issuedby"></td>
                    <td style="float:right">Phone no.:</td>
                    <td><input type="text" id="phoneno" name="phoneno"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Branch:</td>
                    <td><input type="text" id="branch" name="branch"></td>
                    <td style="float:right">Regd.no.:</td>
                    <td><input type="text" id="regdno" name="regdno"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issue Date:</td>
                    <td><input type="date" id="issuedate" name="issuedate"></td>
                    <td><input type="hidden" id="issue_id" name="issue_id"></td>
                  </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Return Issue Modal -->
      <div id="returnIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Return Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/returnbook" method="post">
                <table width="100%">
                  <tr>
                    <td style="float:right">Returned By:</td>
                    <td><input type="text" id="returnedby" name="returnedby"></td>
                    <td style="float:right">Return Date:</td>
                    <td><input type="date" id="returndate" name="returndate"></td>
                    <td><input type="hidden" id="returnissue_id" name="returnissue_id"></td>
                  </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Return</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Issue Modal -->
      <div id="deleteIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Delete Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/deletebook" method="post">
                <input type="hidden" id="delete_id" name="delete_id">
              Are you sure you want to delete this data?
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Yes</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

   </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#due_issue_table').DataTable();
    });
    $(document).ready(function(){
      $('#returned_issue_table').DataTable();
    });
    $('#newIssue').modal('show');
    $('#editIssue').modal('show');
    $('#returnIssue').modal('show');
    $('#deleteIssue').modal('show');

    function addme(){
      var d = new Date();
      var n = d.toISOString();
      var idate = n.substring(0,10);
      document.getElementById('issue_date').value = idate;
    }

    function editme(bookid,bookname,issuedby,phone,branch,regd,issuedate,issueid){
      document.getElementById('bookname').value = bookname;
      document.getElementById('bookid').value = bookid;
      document.getElementById('issuedby').value = issuedby;
      document.getElementById('phoneno').value = phone;
      document.getElementById('branch').value = branch;
      document.getElementById('regdno').value = regd;
      document.getElementById('issuedate').value = issuedate;
      document.getElementById('issue_id').value = issueid;
    }

    function returnme(issuedby,returnissueid){
      document.getElementById('returnedby').value = issuedby;
      document.getElementById('returnissue_id').value = returnissueid;
      var d = new Date();
      var n = d.toISOString();
      var rdate = n.substring(0,10);
      document.getElementById('returndate').value = rdate;
    }

    function delme(deleteid){
      document.getElementById('delete_id').value = deleteid;
    }
  </script>
</html>
